<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <itemWebApiSearch>
        <processor type="Sitecore.ItemWebApi.Pipelines.Search.SetLanguage, Sitecore.Speak.ItemWebApi" >
          <patch:attribute name="type" value="Sitecore.Support.ItemWebApi.Pipelines.Search.SetLanguage, Sitecore.Support.95446" />
        </processor>
      </itemWebApiSearch>
    </pipelines>
    <events>
      <event name="item:versionAdded" >
        <handler type="Sitecore.Support.ShowMediaComputedFieldEventHandler, Sitecore.Support.95446" method="OnVersionChange" />
      </event>
      <event name="item:versionAdded:remote" >
        <handler type="Sitecore.Support.ShowMediaComputedFieldEventHandler, Sitecore.Support.95446" method="OnVersionChange" />
      </event>
      <event name="item:versionRemoved" >
        <handler type="Sitecore.Support.ShowMediaComputedFieldEventHandler, Sitecore.Support.95446" method="OnVersionChange" />
      </event>
      <event name="item:versionRemoved:remote" >
        <handler type="Sitecore.Support.ShowMediaComputedFieldEventHandler, Sitecore.Support.95446" method="OnVersionChange" />
      </event>
    </events>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_showMedia">Sitecore.Support.ShowMediaComputedField,Sitecore.Support.95446</field>
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>